<?php

$finder = PhpCsFixer\Finder::create()
    ->name('*.php')
    ->in(__DIR__)
    ->depth('> 0')
    ->notPath('/\bvendor\b/')
    ->notPath('/\bresources\/views\b/')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(false)
    ->setRules([
        '@Symfony'       => true,
        'array_syntax'   => ['syntax' => 'short'],
        'ordered_class_elements' => true,
        'ordered_imports'        => true,
        'binary_operator_spaces' => [
            'default' => 'align_single_space_minimal',
        ],
        'yoda_style' => false,
    ])
    ->setFinder($finder)
;
